.curriculum-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.small-screen-dialog,
.small-screen-dialog div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-screen-dialog {
    --md-dialog-container-color: var(--md-sys-color-primary-container);
    --md-text-button-label-text-color: var(--md-sys-color-on-primary-container);
}

.small-screen-dialog div[slot="actions"] {
    padding: 0;
}

.small-screen-dialog div {
    flex-direction: column;
    text-align: center;
}

.small-screen-dialog .sad-face {
    font-size: 50px;
}

@media screen and (max-width: 500px) {
    .curriculum-view {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }

    .grid-container {
        width: 100%;
        max-width: unset !important;
    }
}

.curriculum-view {
    display: flex;
    flex-direction: row;

    width: 100%;
}

md-dialog {
    --md-dialog-headline-font: 'Titillium Web';
    --md-dialog-supporting-text-font: 'Titillium Web';
    --md-text-button-label-text-font: 'Titillium Web';

    display: contents;
    margin: auto;
    max-height: min(560px, 100% - 48px);
    max-width: min(1024px, 100% - 48px);
    min-height: 140px;
    min-width: 280px;
    position: fixed;
    height: fit-content;
    width: fit-content;
}

.subject-dialog {
    --md-dialog-container-color: var(--md-sys-color-secondary-container);
}

.dialog-content {
    display: flex;
    flex-direction: row;
}

.dialog-content form {
    min-width: 250px;
    margin-right: 0.8em;
}

.dialog-content form md-radio {
    min-width: 20px;
}

.dialog-content .vertical-separator {
    height: unset;
}

.dialog-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0.3em;
    margin-left: 0.5em;
}

.dialog-description ul {
    padding-inline-start: 40px;
}

.dialog-description:nth-child() {
    position: fixed;
}

.subject-dialog label {
    display: flex;
    align-items: center;
}

.filters-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.download-grid-button,
.upload-grid-button {
    cursor: pointer;
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    border-radius: var(--border-radius);
    padding: 0.1em;
}

.filters-container {
    max-width: 300px;
    padding: 0.2em;
    margin: 0.2em;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-checkbox span {
    margin-right: 1.5em;
}

.filter-checkbox md-checkbox {
    min-width: 18px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    max-width: 80%;
}

.period-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.period-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.on-grid-period-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.2em;
    border-radius: var(--border-radius);
}

.on-grid-subject-container,
.on-grid-period-container {
    padding: 0.3em;
}

.add-subject-button {
    display: flex;
    justify-content: center;

    padding: 0.3em;
    height: 60px;
    width: 60px;
}

.on-grid-subject-container {
    display: inline-block;
    position: relative;

    border-radius: var(--border-radius);
    margin: 0.2em;
    padding: 0.8em;
}

.on-grid-subject-container .delete-subject-icon {
    position: absolute;
    top: -15%;
    right: -2%;
    padding: 0.3em;
    border-radius: 50%;
    background-color: var(--md-sys-color-error-container);
    color: var(--md-sys-color-on-error-container);
    font-size: 16px;
    cursor: pointer;
}

.filtered-out {
    display: none;
}

.grid-container .focused-out {
    opacity: 0.5;
}