.curriculum-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.curriculum-view {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.side-container {
    width: 20%;
}

.subject-dialog {
    --md-dialog-container-color: var(--md-sys-color-secondary-container);
    --md-dialog-headline-font: 'Titillium Web';
    --md-dialog-supporting-text-font: 'Titillium Web';
    --md-text-button-label-text-font: 'Titillium Web';

    display: contents;
    margin: auto;
    max-height: min(560px, 100% - 48px);
    max-width: min(560px, 100% - 48px);
    min-height: 140px;
    min-width: 280px;
    position: fixed;
    height: fit-content;
    width: fit-content;
}

.subject-dialog label {
    display: flex;
    align-items: center;
}

.filters-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-grid-button {
    cursor: pointer;
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    border-radius: var(--border-radius);
    padding: 0.1em;
}

.filters-container {
    max-width: 300px;
    padding: 0.2em;
    margin: 0.2em;
}

.filter-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-slider {
    --_label-text-font: 'Titillium Web' !important;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
}

.period-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.on-grid-period-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.3em;

    width: 100%;
    margin: 0.2em;
}

.on-grid-subject-container,
.on-grid-period-container {
    padding: 0.3em;
}

.on-grid-subject-container {
    
    margin: 0.2em;
}

.filtered-out {
    display: none;
}

.grid-container .focused-out {
    opacity: 0.5;
}