.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    display: grid;
    grid-template-columns: auto auto;

    min-width: 200px;
    border-radius: var(--border-radius);
}

.about-page {
    display: flex;
    flex-direction: column;

    min-width: 200px;

    padding: 1em;
    margin: 0.5em;
}

.about-title {
    font-size: xx-large;
}

.about-description {
    font-size: large;
}

.about-content {
    display: flex;


    min-width: 150px !important;

    padding: 0.5em;
    margin: 0.5em 0;

    border-radius: var(--border-radius);
}

.about-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    margin: 0 0.5em;
}

.about-nav li {
    list-style: none;
    padding: 0 1em;
}

.about-nav a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--md-sys-color-tertiary);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.about-nav a:hover::after {
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
}

.about-nav a {
    text-decoration: none;
    display: block;
    min-height: 40px;
}

.about-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em;
    margin: 0.5em;
}

.today-schedule {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

@media screen and (max-width: 767px) {

    .about-wrapper,
    .about-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .today-schedule {
        flex-direction: column;
    }

    .about-animation {
        display: none;
    }
}

.tag-list {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    width: 30rem;
    max-width: 90vw;
    gap: 1rem 0;

    position: relative;
    padding: 1.5rem 0;

    overflow: hidden;

    border-radius: var(--border-radius);
}

.loop-slider .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
}

.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    font-size: 0.9rem;
    border-radius: var(--border-radius);
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.2rem 1.5rem rgba(0, 0, 0, 0.4);
}

.tag span {
    font-size: 1.2rem;
}

.fade {
    pointer-events: none;
    position: absolute;
    inset: 0;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.schedule {
    display: flex;
    justify-content: center;
}

.subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 300px;
    min-width: 200px;

    border-radius: var(--border-radius);

    padding: 1em;
    margin: 0.5em;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-body {
    margin: 0.2em;
    padding: 1em;
}

.info-body,
.info-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 767px) {
    .info-body {
        flex-direction: column;
        min-width: 200px;
        max-width: 300px;
    }

    .info-links-wrapper {
        justify-content: space-evenly;
        min-width: 200px;
        max-width: 300px;
    }
}

.info-links-wrapper {
    margin: 0 1em;
    border-radius: var(--border-radius);
}

.info-links {
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0 1em;
}

.vertical-separator {
    width: 1px;
    height: 100px;
    /* Adjust height as needed */
    border-left: 1px solid var(--md-sys-color-outline-variant);
    /* Color and style of the line */
}

.info-links li {
    list-style-type: none;
}

.info-description {
    text-align: justify;
}