.separator {
    width: 100%;
}

body .separator {
    margin: 0 0 0.5em 0;
}

.separator h3 {
    margin-bottom: 0.2em;
}

.separator::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--md-sys-color-outline);
    opacity: 0.6;
}


.cards-wrapper {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    margin: 0.5em;
    border-radius: var(--border-radius);

    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, var(--md-sys-color-primary) 0%, var(--md-sys-color-secondary) 40%, var(--md-sys-color-background) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.icon span {
    color: var(--md-sys-color-background);
}

.card:hover .icon span {
    color: var(--md-sys-color-on-secondary-container);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: var(--text-100);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: var(--text-200);
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.card:hover {
    height: 270px;
}

.card:hover .info {
    height: 90%;
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
}

.invisible {
    display: none !important;
}

.subject-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 250px;
    width: 100%;
    padding: 0.5em;
    margin: 0.5em;
}

.subject-title {
    display: flex;
    align-items: center;
}

.arrow-back {
    margin-right: 0.3em;
    cursor: pointer;
    background: var(--md-sys-color-secondary-container);
    border-radius: var(--border-radius);
}

.subject-time {
    margin-bottom: 0.3em;
}

.subject-description ul,
.subject-books ul {
    margin-left: 1.2em;
}

.subject-tests {
    display: grid;
    grid-gap: 0.2em;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    border-radius: var(--border-radius);
}

.subject-test-container {
    padding: 1em;
}

.subject-text-body {
    padding: 0.2em;
}

.subject-book-link {
    min-height: 40px;
    color: var(--md-sys-color-primary);
}

.subject-link-container {
    display: flex;
    flex-direction: row;
}

.subject-links {
    display: flex;
    flex-direction: column;

    border-radius: var(--border-radius);
    padding: 1em;
    margin: 0.5em 0;
}

.subject-links a {
    height: 40px;
    width: fit-content;
}

html[data-theme="dark"] .subject-links a{
    color: var(--md-sys-color-tertiary);
}

@media screen and (max-width: 767px) {
    .cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .subject-tests {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
    .cards-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4%;
        justify-items: center;
        justify-content: center;
        align-content: center;
    }

}